.container {
  color: white;
  margin-bottom: 1em;
  min-height: 400px;
  .title {
    text-align: center;
  }
  .content {
    .cards {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      .card {
        display: flex;
        position: relative;
        flex-direction: column;
        align-items: center;
        width: 400px;
        height: 150px;
        border: 2px solid white;
        background-color: rgb(58, 56, 77);
        border-radius: 8px;
        margin-bottom: 1em;
        .reloadIcon {
          position: absolute;
          top: 5px;
          right: 5px;
          font-size: 25px;
          color: white;
          cursor: pointer;
          display: flex;
          &:hover {
            color: rgb(255, 217, 0);
          }
        }
        .reloadIconActive {
          animation: rotate 1s ease-in-out;
        }
        .mainContent {
          margin-top: 1.5em;
          width: 100%;
          position: relative;
          display: flex;
          align-items: center;
          flex-wrap: wrap;
          .titleCard {
            margin-bottom: 1em;
            h1 {
              font-size: 18px;
            }
            margin-left: 0.3em;
            .usd {
              margin-top: -10px;
              div {
                font-size: 12px;
              }
              .unit {
                margin-right: 0.2em;
              }
              .number {
              }
              .dolorIcon {
                margin-left: 0.3em;
              }
            }
          }
          .balanceData {
            position: absolute;
            right: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            .balanceText {
              font-size: 16px;
            }
            .balanceNumber {
              font-size: 16px;
            }
          }
          .TokenImg {
            margin-left: 1em;
          }
        }
        .buttons {
          display: flex;
          div {
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0 1em;
            width: 80px;
            height: 30px;
            background-color: rgba(0, 255, 255, 0.171);
            color: aqua;
            border-radius: 8px;
            cursor: pointer;
            &:hover {
              background-color: rgba(127, 255, 212, 0.295);
            }
          }
        }
      }
    }
  }
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
